{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container-home">
        <div class="row">
            <div class="col">              
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}

<div class="hero hero-container">
  <!--div class="container"-->
    <h1 class="home-page text-center">Our mission</h1>
    <p class="lead text-center">is provide you with the best drinks for you and your family</p>
    <div class="col text-center">
      <a class="btn btn-warning btn-lg" href="{% url 'products' %}" role="button">See our offer</a>
    </div>
  <!--/div-->
</div>

<div class="container products">
  <h2 >Do you know?</h2>
  <p class="products text-center">What actually do you drink and what is the diffrence between juice, nectar and drink?</p>
  <div>
    <h3>Juice</h3>
    <p>Juice  100% FRUIT INTAKE juice squeezed directly from the fruit or obtained from concentrated fruit juice by recreating the proportion of water and aroma removed during the thickening process the juice does not contain any artificial colors or flavors; cannot be chemically preserved.
    </p>
  </div>
  <div>
    <h3>Nectar</h3>
    <p>Nectar FROM 25 TO 99% OF THE FRUIT INPUT  diluted juice with water with added sugar, possibly citric acid The nectar does not contain artificial colors or flavors; cannot be chemically preserved.</p>
  </div>
  <div>
    <h3>Drink</h3>
    <p>Drink FROM 20 TO 99% OF THE FRUIT INPUT contains a certain amount of juice, water, sugar, acid lemons and other permitted food additives The drink may contain dyes and aromas and others additives.
    </p>
  </div>
</div>

<div class="text-center">
  <h6> If you have any further questions contact us:</h6>
  <p class="text-center">support@juiceme.com</p>
</div>
{% endblock %}

{% block page_footer%}
{% endblock %}