<!-- to create this page I was useing the CI materials and bbbootstrap.com page. Below are links to orginal pages: https://bbbootstrap.com/snippets/simple-shopping-cart-coupon-code-input-text-39165166 and https://bbbootstrap.com/snippets/ecommerce-shopping-cart-30657531 and https://bbbootstrap.com/snippets/bootstrap-ecommerce-shopping-cart-plus-minus-icons-55469617 and last one https://www.bootdey.com/snippets/view/shopping-cart-checkout#preview-->

{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'bag/css/bag_page.css' %}">
{% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col">
                <h1>Shopping Bag</h1>
                <p class="products"> Item(s) in your bag:</p>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <aside class="col-lg-9">
            <div class="card">
                {% if bag_items %}
                    <div class="table-responsive">
                        <table class="table table-borderless table-bag">
                            <thead class="text-muted">
                                <tr class="small">
                                    <th scope="col">Product Info</th>
                                    <th scope="col"></th>
                                    <th scope="col" width="120">Quantity</th>
                                    <th scope="col" width="120">Price</th>
                                    <th scope="col">Subtotal</th>
                                    <th scope="col" class="text-right d-none d-md-block" width="200"></th>
                                </tr>
                            </thead>

                            {% for item in bag_items %}
                            <tbody>
                                <tr>
                                    <!--product img-->
                                    <td>  
                                        <img src="{{ item.product.img.url }}" class="img-bag-fluid" width="70" alt="{{ item.product.name }}">
                                    </td>
                                    <!--product name-->
                                    <td class="p-3">
                                        <p class="my-0 black bag-page">{{ item.product.name }}</p>
                                    </td>
                                    <!-- product quantity-->
                                    <td class="p-1">
                                        <form method="POST" class="form update-form" action="">
                                            {% csrf_token %}
                                            <div class="input-group d-flex flex-row align-items-center">
                                                <button class="plus-qty btn btn-white btn-sm"
                                                p_id="{{ item.id }}" id="plus-qty_{{ item.id }}">
                                                <i class="fa fa-plus text-success"></i>
                                                </button>
                                                <input type="number" name="quantity" value="{{item.quantity}}" min="1" max="99" aria-label="Search"   
                                                class="form-control form-control-sm add_qty" 
                                                p_id="{{ item.id }}" id="add-qty_{{ item.id }}">
                                                <button class="minus-qty btn btn-white"
                                                data-item_id="{{ item.id }}" id="minus-qty_{{ item.id }}">
                                                <i class="fa fa-minus text-danger"></i>
                                                </button>
                                            </div>
                                        </form>
                                    </td>
                                    <!--price-->
                                    <td>
                                        <p class="my-0 black bag-page black-euro"><i class=" fas fa-euro-sign small black-euro black"></i>{{ item.product.price }}</p>
                                    </td>
                                    <!--subtotal-->
                                    <td>
                                        <p class="my-0 black bag-page black-euro"><i class=" fas fa-euro-sign small black-euro black"></i>{{ item.product.price }}</p> 
                                    </td>
                                    <!--icons love it / remove from basket-->
                                    <td class="text-right d-none d-md-block">  
                                        <a data-original-title="Save to Wishlist" title="" href="" class="btn btn-white text-danger" data-toggle="tooltip" data-abc="true">
                                            <i class="fa fa-heart"></i>
                                        </a>
                                        <a href="" data-original-title="Remove">
                                            <i class="fa fa-trash mb-1 text-warning"></i>
                                        </a>
                                    </td>
                                </tr>
                            </tbody>
                            {% endfor %}
                        </table>
                    </div>
                {% else %}
                    <p class="lead mb-5">
                        The bag is empty.
                    </p>
                    <a href="{% url 'products' %}" class="btn btn-lg btn-success">
                    <span> Continue Shopping</span>
                    <span class="icon">
                        <i class="fas fa-arrow-left"></i>
                    </span>   
                    </a>
                {% endif %}
            </div>
        </aside>
        <aside class="col-lg-3">
            <div class="card mb-3">
                <div class="card-body">
                    <div class="products text-center">
                        <h5>Have you an account?</h5>
                        <div class="mt-4 ">
                            <a href="#" class="btn btn-warning" data-abc="true">Create </a>
                            <a href="#" class="btn btn-success ml-3" data-abc="true">Login </a>
                        </div>   
                    </div>    
                </div>
                <div class="card-body">
                    <dl class="dlist-align products black">
                        <dt>Total price:</dt>
                        <dd class="text-right ml-3 black"><i class=" fas fa-euro-sign small black-euro black bag-page"></i>{{ item.product.price }}</dd>
                    </dl>
                    <dl class="dlist-align">
                        <dt>
                            Free delivery in UE
                        </dt>
                    </dl>
                    <hr> 
                        <a href="{% url 'checkout' %}" class="btn btn-primary" data-abc="true">
                            <span>Checkout</span>
                            <span class="icon">
                                <i class="far fa-credit-card"></i>
                                </span>
                            
                        </a> 
                        <a href="{% url 'products' %}" class="btn btn-success mt-4">
                            <span class="icon">
                            <i class="fas fa-hand-point-left"></i>
                            </span>
                            <span> Continue Shopping</span>   
                        </a>
                </div>
                <div class="card-body">
                    <dl class="dlist-align products">
                        <hr>
                        <dt>Support</dt>
                        <span class="euro"><i class="fa fa-phone mt-3 euro"></i> +55 555 555 555</span>
                        <div>
                            <span class="small">
                                Please contact with us if you have any questions. We are avalible 24h.
                            </span>
                        </div>
                        
                    </div>
                </div>
            </div>
            </div>
        </aside>
    </div>
</div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
{% include 'bag/add_minus_item.html' %}
{% endblock %}

{% block page_footer%}
{% endblock %}