<!-- to create this page I used the CI materials and bbbootstrap.com page. Below are links to orginal pages: https://bbbootstrap.com/snippets/simple-shopping-cart-coupon-code-input-text-39165166 and https://bbbootstrap.com/snippets/ecommerce-shopping-cart-30657531 and https://bbbootstrap.com/snippets/bootstrap-ecommerce-shopping-cart-plus-minus-icons-55469617 and last one https://www.bootdey.com/snippets/view/shopping-cart-checkout#preview-->

{% extends "base.html" %}
{% load static %}
{% load bag_tools %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'bag/css/bag_page.css' %}">
{% endblock %}

{% block page_header %}
<div class="overlay"></div>
    <div class="container header-container">
        <div class="row">
            <div class="col">
                <h1>Shopping Bag</h1>
                <p class="products"> Item(s) in your bag:</p>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="container-fluid offset-1">
    <div class="row">
        <!--div class="col-12 col-lg-6 order-lg-last"-->
            <aside class="col-lg-7 mb-3">
            <div class="card">
                {% if bag_items %}
                    <div class="table-responsive">
                        <table class="table table-borderless table-bag">
                            <thead class="text-muted">
                                <tr class="small">
                                    <th scope="col">Product Info</th>
                                    <th scope="col"></th>
                                    <th scope="col">Quantity</th>
                                    <th scope="col">Price</th>
                                    <th scope="col">Subtotal</th>
                                    <th scope="col" class="update-delete d-none d-md-block"></th>
                                </tr>
                            </thead>
                            {% for item in bag_items %}
                            <form method="POST" class="form update-form" action="{% url 'update_bag' item.item_id %}">
                                <tbody>
                                    <tr>
                                        <!--product img-->
                                        <td class="p-3">  
                                        <img src="{{ item.product.img.url }}" class="img-bag-fluid" width="70" alt="{{ item.product.name }}">
                                        </td>
                                        <!--product name-->
                                        <td class="p-3">
                                        <p class="my-0 black bag-page d-none d-md-block">{{ item.product.name }}</p>
                                        </td>
                                        <!-- product quantity-->
                                        <td>
                                        {% csrf_token %}
                                            <div class="input-group d-flex flex-row align-items-center">
                                                <input type="number" name="quantity" value="{{ item.quantity }}" min="0" max="99" aria-label="Search"   
                                                class="form-control form-control-sm my-0 bag-page th-price-qty add-qty" style="width: 100px;" 
                                                data-item_id="{{ item.item_id }}" id="add-qty_{{ item.item_id }}">
                                            </div>       
                                        </td>
                                        <!--price-->
                                        <td>
                                        <p class="my-0 black black-euro"><i class="fas fa-euro-sign small black-euro black "></i>{{ item.product.price }}</p>
                                        </td>
                                        <!--subtotal-->
                                        <td>
                                        <p class="my-0 black black-euro"><i class="fas fa-euro-sign small black-euro black"></i>{{ item.product.price | calculate_subtotal:item.quantity }}</p> 
                                        </td>
                                        <!--icons love it/update/remove from basket-->
                                        <td class="update-delete trash d-none d-sm-block">
                                            <!--love it-->
                                            <a class="trash"
                                            id="wishlist_{{ item.item_id }}" data-original-title="Wishlist">
                                                <i class="fa fa-heart text-danger"></i>
                                            </a>
                                            <!--update-->
                                            <button class="submit update-form" data-original-title="Update">
                                                <i class="far fa-edit">
                                                </i>
                                            </button>
                                            <!--delete-->
                                            <a class="delete-item trash" id="delete_{{ item.item_id }}" data-original-title="Delete">
                                            <i class="fa fa-trash mb-1 text-danger"></i>
                                            </a>
                                        </td>
                                    </tr>
                                </tbody>
                            </form> 
                            {% endfor %}
                        </table>
                    </div>
                {% else %}
                    <p class="products text-center lead mb-5">
                        The bag is empty.
                    </p>
                    <div class="products text-center mb-5">
                        <a href="{% url 'products' %}" class="btn btn-lg btn-success">
                            <span> Continue Shopping</span>
                            <span class="icon">
                                <i class="fas fa-arrow-left"></i>
                            </span>   
                        </a>
                    </div>   
                {% endif %}
            </div>
            </aside>
            <aside class="col-lg-3">
                <div class="card mb-3">
                    <div class="card-body">
                        <div class="products text-center">
                            <h5>Have you an account?</h5>
                            <div class="mt-4">
                                <a href="{% url 'account_signup' %}" class="btn btn-warning" data-abc="true">Sign Up</a>
                                <a href="{% url 'account_login' %}" class="btn btn-success" data-abc="true">Login </a>
                            </div>   
                        </div>    
                    </div>
                    <div class="card-body">
                        <dl class="products black">
                            <dt>Total price:
                                <dd class="products text-center black"><i class=" fas fa-euro-sign small bag-page black black-euro"></i>{{ total|floatformat:2 }}
                                </dd>
                            </dt>
                        </dl>
                        <dl class="dlist-align">
                            <dt class="products text-center mb-5">
                            Always free delivery.
                            </dt>
                        </dl>
                        <hr>
                        <div class="products text-center mb-1">
                            <a href="{% url 'checkout' %}" class="btn btn-primary" data-abc="true">
                            <span>Checkout</span>
                            <span class="icon">
                                <i class="far fa-credit-card"></i>
                            </span>
                            </a>
                        </div>
                        <div class="products text-center mb-1">
                            <a href="{% url 'products' %}" class="btn btn-success mt-4">
                            <span class="icon">
                            <i class="fas fa-hand-point-left"></i>
                            </span>
                            <span> Continue Shopping</span>   
                            </a>
                        </div>
                    </div>
                    <div class="card-body">
                        <dl class="products text-center">
                            <hr>
                            <dt>Support</dt>
                            <span class="euro">
                            <i class="fa fa-phone mt-3 euro"></i> +55 555 555 555</span>
                            <div>
                                <span class="small">
                                Please contact with us if you have any questions. <br>
                                We are avalible 24h.
                                </span>
                            </div>
                        </dl>    
                    </div>
                </div>
            </aside>
        <!--/div-->
    </div>
</div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}

<script type="text/javascript">
    
    // Remove item and reload on click
    $('.delete-item').click(function(e) {
        var csrfToken = "{{ csrf_token }}";
        var itemId = $(this).attr('id').split('delete_')[1];
        var url = `/bag/delete/${itemId}/`;
        var data = {'csrfmiddlewaretoken': csrfToken};

        $.post(url, data)
         .done(function() {
             location.reload();
         });
    })
</script>

{% endblock %}

{% block page_footer%}
{% endblock %}