.StripeElement,
.stripe-style-input {
  box-sizing: border-box;
  height: 40px;
  padding: 10px 12px;
  border: 1px solid transparent;
  border-radius: .25rem;
  background-color: white;
  box-shadow: 0 1px 3px 0 #e6ebf1;
  -webkit-transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease;
}

.StripeElement--focus,
.stripe-style-input:focus,
.stripe-style-input:active {
  box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--webkit-autofill {
  background-color: #fefde5 !important;
}

.stripe-style-input::placeholder {
    color: #aab7c4;
}

.fieldset-label {
    position: relative;
    right: .5rem;
}

.form-control:disabled, .form-control[readonly] {
  background-color:rgb(255,255,0, 0.2) !important;
  opacity: 1;
}

.img-bag-fluid {
height: 70px;
max-width: 70px;
object-fit: cover;
}

#payment-form .form-control,
#card-element {
    color: #000;
    border: 1px solid #000;
}

#id_default_county,
#id_default_county option:not(:first-child) {
    color: #000;
}

#id_default_county option:first-child {
    color: #aab7c4;
}

/*source https://www.youtube.com/watch?v=ttWXapXj4cg&t=33 */

section{
  display:flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #095062;
  animation: animateBg 10s linear infinite;
}

@keyframes animateBg {
  0%
  {
    filter: hue-rotate(0deg)
  }
  100%
  {
    filter: hue-rotate(360deg)
  }
}

section .loader{
  position: relative;
  width: 120px;
  height: 120px;
}

section .loader span{
  transform: rotate(calc(18deg * var(--i)));
}

section .loader,
section .loader span{
  width: 100%;
  height: 100%;
}

section .loader span,
section .loader span::before{
  position: absolute;
  top: 0;
  left: 0;
}

section .loader span::before{
  content: '';
  width:15px;
  height: 15px;
  background: #dfeb95;
  box-shadow: 0 0 10px #dfeb95,
              0 0 20px #dfeb95,
              0 0 40px #dfeb95,
              0 0 60px #dfeb95,
              0 0 80px #dfeb95,
              0 0 100px #dfeb95;
  border-radius: 50%;
  animation: animate 2s linear infinite;
  animation-delay: calc(0.1s * val(--i));
}

@keyframes animateBg {
  0%
  {
    transform: scale(1)
  }
  80%,
  100%
  {
    transform: scale(0)
  }
}


@media screen and (max-width: 600px) {
  
  p {
    margin-top: 0;
    margin-bottom: 1rem;
    margin-left: 1.25rem !important;
  }

  .text-right,
  .font-weight-bold{
    margin-left: auto; 
  }
  
  .subtotal{
    margin:0px 0px 4px;
    padding:0;
  }

  .order-total{
    margin-right: 30px;
  }

  .total{
    padding: 0;
    margin: 0 !important;
  }

  .product-item{
    margin-left: 30px;
  }

  .fieldset-label {
    position: relative;
    right: 15.5rem;
  }
  
}