{% load static %}

<footer class="footer bg-light py-4">
  <div class="row d-flex justify-content-center">
    <h5>Copyright &copy; JuiceMe MSR 2021</h5>
  </div>
  <div class="row d-flex justify-content-center">
    <a class="btn btn-social mx-2" href="https://www.linkedin.com" rel="noopener"><i class="fab fa-linkedin-in"></i></a>
    <a class="btn btn-social mx-2" href="https://www.instagram.com " target="_blank" rel="noopener"><i class="fab fa-instagram"></i></a>
    <a class="btn btn-social mx-2 " href="https://www.facebook.com" target="_blank" rel="noopener"><i class="fab fa-facebook-f"></i></a>
  </div>
</footer>
 