<footer class="footer sticky-footer py-4">
    <div class="container">
      <div class="row ">
        <div class="col-lg-4 text-center ">
          <p> If you have any questions contact us:</p>
          <p>support@juiceme.com</p>

        </div>
        <div class="col-lg-4 text-center">
          <h5>Copyright &copy; JuiceMe MSR 2021</h5>
        </div>
        <div class="col-lg-4 text-center">
          <a class="btn btn-social mx-2" href="https://www.instagram.com " target="_blank" rel="noopener"><i class="fab fa-instagram"></i></a>
          <a class="btn btn-social mx-2" href="https://www.facebook.com" target="_blank" rel="noopener"><i class="fab fa-facebook-f"></i></a>
          <a class="btn btn-social mx-2" href="https://www.linkedin.com" target="_blank" rel="noopener"><i class="fab fa-linkedin-in"></i></a>
          <p><a class="link-dark text-decoration-none me-3" href="#">Privacy Policy</a></p>
        </div>
        
      </div>
    </div>
  </footer>