{% load static %}
<section class="last-section"></section>
<footer class="footer sticky-footer bg-light py-4">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-4 text-center">
        <h6> If you have any questions contact us:</h6>
        <p class="email-footer">support@juiceme.com</p>
      </div>
      <div class="col-lg-4 text-center align-items-center">
        <h5>Copyright &copy; JuiceMe MSR 2021</h5>
      </div>
      <div class="col-lg-4 text-center">
        <a class="btn btn-social mx-2" href="https://www.linkedin.com" target="_blank" rel="noopener"><i class="fab fa-linkedin-in"></i></a>
        <a class="btn btn-social mx-2" href="https://www.instagram.com " target="_blank" rel="noopener"><i class="fab fa-instagram"></i></a>
        <a class="btn btn-social mx-2 " href="https://www.facebook.com" target="_blank" rel="noopener"><i class="fab fa-facebook-f"></i></a>
        <p>
          <a class="link-dark text-decoration-none me-3"
            src="{{ MEDIA_URL }}juiceme_privacy_policy.pdf" 
            alt=" {{juiceme_privacy_policy }}">
            Privacy Policy
          </a>
        </p>
      </div>
    </div>
  </div>
</footer>