{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col">
                <h1> See, read and buy our products.</h1>
                <p class="products">There you can browse all available juces, nectars and drinks.</p>
                <hr>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}

<div>    
    <div class="container-fluid col-10  offset-1">
            <div class="row mt-5 mb-2">
                <div class="row">
                {% if products %}
                {% for product in products %}
                    <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3">
                <!--source https://mdbootstrap.com/docs/standard/components/cards/-->
                    <div class="card h-100 mb-0">
                        {% if product.img %}
                            <div class="bg-image">
                            <img class="img-fluid card-img-top" src="{{ product.img.url }}" alt=" {{ product.name }}"/>
                            <a href=" {% url 'single_product' product.id %}">
                            <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                            </a>
                            </div>
                        {% else %}
                        <a href="{% url 'single_product' product.id %}">
                            <img class="img-fluid card-img-top" src="{{ MEDIA_URL }}fruits.jpg" alt=" {{ product.name }}"/>
                        </a>  
                        {% endif %}
                            <div class="card-body h-100 mb-0">
                                <h5 class="card-title">{{ product.name }}</h5>
                                <h6>Category: {{ product.category }}</h6>
                                <h4 class="card-text mb-0 euro"> <i class=" fas fa-euro-sign small euro black-euro"></i>{{ product.price }}</h4>
                                {% if product.rating %}
                                <small class="card-text"><i class=" fas fa-star mr-1">{{ product.rating }}/5</i></small>
                                {% else %}
                                <small class="card-text">No Rating</small>    
                                {% endif %}
                            </div>
                            <div class="card-footer">
                                <a href="{% url 'single_product' product.id %}" class="btn btn-warning ">More info</a>
                            </div>
                    </div>    
                </div>
                {% endfor %}
                {% else %}
                    <div>
                        <h3>Sorry, the product you are looking for currently is not available.</h3>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% include 'partials/footer.html' %}
