.table-bag{
    display: block;
    font-weight: 800;
    margin-right: 8px;
}

th{
    color:#ffc107;   
}

/*.th-price-qty{
    width: 100px;
}
*/
.trash{
    padding:1px 6px;
}

.love_it{
    padding:6px;
}


.update-delete{
    width:70px;
}

td{
    padding:0;
    text-align: center;
}

/*td.update-delete {
    width:70px;
}*/


.img-bag-fluid {
    height: 70px;
    max-width: 70px;
    object-fit: cover;
}

.bag-page{
    font-weight: 600;
    justify-items: center;
    align-items: center;
}

.update-form{
    background: none;
    border:none;
    color: #ffc107 !important;
}

.update-form{
    color:black;
}

.background-fruits{
    background: white center/cover url('/media/background.jpg') no-repeat;
    height: 400px;
}

.empty-bag{
    margin-top: 1rem;
    color: black;
    text-shadow:1px 1px 2px #ffc107;
    font-size: 1.5rem;   
}

h2{
    color: black;
    text-shadow:2px 2px 4px #ffc107;
    font-size: 40px;
    
}

@media (max-width: 991.98px) { 
    .bag-page{
        font-weight: 400;
        justify-items: center;
        align-items: center;
    }
    
    
}

