.table-bag{
    display: block;
    font-weight: 800;
    margin-right: 8px;
}

th{
    color:#ffc107;
}

td{
    padding:0;
}

.img-bag-fluid {
    height: 70px;
    max-width: 70px;
    object-fit: cover;
}

.bag-page{

    font-weight: 600;
}

/*.update-form{
    padding:0;
    border:none;
}*/