.table-bag{
    display: block;
    font-weight: 800;
    margin-right: 8px;
}

th{
    color:#ffc107;   
}

/*.th-price-qty{
    width: 100px;
}
*/
.trash{
    padding:12px;
}

.love_it{
    padding:6px;
}


.update-delete{
    width:150px;
}

td{
    padding:0;
    text-align: center;
}

.img-bag-fluid {
    height: 70px;
    max-width: 70px;
    object-fit: cover;
}

.bag-page{
    font-weight: 600;
    justify-items: center;
    align-items: center;
}

.update-form{
    background: none;
    border:none;
    color: #ffc107 !important;
}

.update-form{
    color:black;
}

@media (max-width: 991.98px) { 
    .bag-page{
        font-weight: 400;
        justify-items: center;
        align-items: center;
    }
    
    
}

