html{
    height: 100%;
    margin:0;
    padding:0;
    
}

html,
body{
    min-height: 100%;
    
}

body{
    font-family: 'Open Sans', sans-serif;
    display: flex;
    flex-direction: column;
    
}

h1{
    margin-top:.5rem;
}

h1,
h2,
h3{
    font-family: 'Montserrat', sans-serif;
    margin:0;
}

h2,
h3,
.header-container{
    text-align: center;
}

/*orginal source CI video about Homepage and Top Header part3 https://learn.codeinstitute.net/courses/course-v1:CodeInstitute+FSF_102+Q1_2020/courseware/4201818c00aa4ba3a0dae243725f6e32/a5315728ccdf4f0792a0bc3c349e8329/?child=last */

.container-fluid{
    padding:0;
}

.header-container {
    margin-top: 5.75rem;
}

.header-container-home{
    margin-top: 3rem;
}

.hero{
    background: white center/cover url('/media/mission.jpg') no-repeat;
}

.hero-container{
    height: 100vh;
}

.home-page{
    margin-top: 5rem;
    font-size: 4rem;
    text-shadow:2px 2px 4px #ffc107;
}

/* source: https://coder-coder.com/how-to-fix-css-background-image-not-working/ */

.background-fruits{
    background: url('/media/background.jpg') no-repeat center center fixed;
}

/*-----------------navbar my account icon and p */

.juiceme-logo{
    margin-left: 1rem;
}

.black,
.black-euro
{
    color:black;
}

.search-box{
    padding-top: .3125rem;
}

/*----------------- all products page*/
.all-products{
    padding:1rem;
}

.products{
    margin-top: 1rem;
}

.img-fluid,
.img-fluid-single{
    object-fit: scale-down;
}

.img-fluid{
    max-width: 100%;
    height:auto;
}

.img-fluid-single{
    height: 400px;
    max-width:400px;   
}

.card-footer {
    padding: .75rem 1.25rem;
    background-color: white;
    align-self: center;
}
/*for heading in allproduct page*/
.header-container h1,
/*for hover effect in footer*/
h2,
h3,
h5,
.black-euro:hover,
.euro,
.email-footer:hover,
a:hover,
i:hover,
span:hover{
    color:#ffc107;
}

h5{
    margin-top: 12px;
}

/*----------------- footer */


footer{
    width: 100%;
    bottom: 0;
    left:0;
    height: 100px;
    margin-top: auto;
    /*position:fixed;*/
    /*text-align: center;*/
}

a {
    color:black;
    text-decoration: none;
    font-weight: 500;   
}

.euro{
    font-weight: 900; 
}

.update-link,
.love-it,
.remove-link{
    cursor: pointer;
}
