html{
    height: 100%;
    margin:0;
    padding:0;
    
}

html,
body{
    min-height: 100vh;
}


/*orginal source CI video about Homepage and Top Header part3 https://learn.codeinstitute.net/courses/course-v1:CodeInstitute+FSF_102+Q1_2020/courseware/4201818c00aa4ba3a0dae243725f6e32/a5315728ccdf4f0792a0bc3c349e8329/?child=last */

.hero{
    background: url('/media/mission.jpg') no-repeat center center fixed;
    background-size: cover;
    height: 99vh;
}
/*-----------------navbar my account icon and p */

.black{
    color:black;
}

/*----------------- all products page*/

.img-fluid{
    height: 240px;
    max-width:240px;
    object-fit: cover;
}

.card-footer {
    padding: .75rem 1.25rem;
    border-top: 1px solid rgba(0,0,0,.125);
    background-color: white;
    }

/*----------------- footer */
footer{
    height: 100px;
}
a {
    color:black;
    text-decoration: none;
    font-weight: 600;
    
}

a:hover {
  color:#ffc107;
}

