html{
    height: 100%;
    margin:0;
    padding:0;
    
}

html,
body{
    min-height: 100vh;
}

body{
    font-family: 'Open Sans', sans-serif;

}

h1,
h2,
h3{
    font-family: 'Montserrat', sans-serif;
    margin:0;
}

h3,
.header-container{
    text-align: center;
}
/*orginal source CI video about Homepage and Top Header part3 https://learn.codeinstitute.net/courses/course-v1:CodeInstitute+FSF_102+Q1_2020/courseware/4201818c00aa4ba3a0dae243725f6e32/a5315728ccdf4f0792a0bc3c349e8329/?child=last */

.hero-container{
    /*background: url('/media/mission.jpg') no-repeat center center fixed;*/
    background-size: cover;
    height: 100vh;
}

.hero{
    background: url('/media/mission.jpg') no-repeat center center fixed;
}

.background-fruits{
    background: url('/media/background.jpg') no-repeat center center fixed;
}

/*-----------------navbar my account icon and p */

.black,
.black-euro{
    color:black;
}

/*----------------- all products page*/

.header-container{
    margin-top: 100px;
    /*text-align: center;*/
}

.products{
    margin-top: 1rem;
}

.img-fluid{
    height: 300px;
    max-width:400px;
    object-fit: cover;
}

.card-footer {
    padding: .75rem 1.25rem;
    background-color: white;
    align-self: center;
}
/*for heading in allproduct page*/
.header-container h1,
/*for hover effect in footer*/
h5,
.euro,
.email-footer:hover,
a:hover,
i:hover{
    color:#ffc107;
}

h5{
    margin-top: 12px;
}

/*----------------- footer */
footer{
    height: 100px;
}

a {
    color:black;
    text-decoration: none;
    font-weight: 500;   
}

.euro{
    font-weight: 900; 
}

.update-link,
.love-it,
.remove-link{
    cursor: pointer;
}
