{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col">
                <h1>JuiceMe FAQ</h1>
                <p class="products">
                    There you can read about the common questions about our products.
                </p>
                <hr>
            </div>
        </div>     
        
    </div>
{% endblock %}

{% block content %}
    {% for faqpost in faqposts %}
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-8 mb-3">
                    <h3>{{ faqpost.question}}</h3>
                    <p> {{ faqpost.answer|slice:"180"}}</p>
                    <p>{{ faqpost.author}} | {{ faqpost.date_added}} </p>
                </div>
            </div>
            <br>
        </div> 
    {% endfor %}

{% endblock %}