{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col">
                <h1>JuiceMe FAQ</h1>
                <p class="products">
                    Here is the anwer for one from questions ... Enjoy :)
                </p>
                <hr>
            </div>
        </div>        
    </div>
{% endblock %}

{% block content %}
div class="container">
<div class="row">
    <div class="col-12 col-lg-8 mb-3">
        <h3><h1> {{ faq.question }}</h1></h3>
        <p> {{ faq.answer|slice:"180"}}</p>
        <p>{{ faq.author}}</p>
        <p{> {{ faq.date_added}}</p>
    </div>
</div>
<br>
</div> 


{% endblock %}