{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col">
                <h1>JuiceMe FAQ</h1>
                <p class="products mb-5">
                    Here is the anwer for one from questions ... Enjoy :)
                </p>
                <hr>
            </div>
        </div>        
    </div>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-12 col-lg-8 mb-3">
            <h2 class="mt-3 mb-5"> {{ faq.question }}</h2>
            <p> {{ faq.answer }}</p>
            <p><b>{{ faq.author}}</b></p>
            <p{> {{ faq.date_added}}</p>
        </div>
        {% if request.user.is_superuser %}
            <div class="col-12 col-lg-8 mb-3 mt-3">
                <small class="card-text">
                    <a class="text-success" href="{% url 'edit_question' faq.id %}"><span><b>Edit Question</b></span>
                    </a>
                </small>
            </div>
            <div class="col-12 col-lg-8 mb-3">
                <small class="card-text"> 
                    <a class="text-danger" href="{% url 'delete_question' faq.id %}"><span><b>Delete Question</b></span>
                    </a>
                </small>
            </div>
        {% endif %}
        </div>
    </div>
    <br>
</div> 


{% endblock %}