{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col">
                <h1>JuiceMe FAQ</h1>
                <p class="products mb-5">
                    Here is the anwer for one from questions ... Enjoy :)
                </p>
                <hr>
            </div>
        </div>        
    </div>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-12 col-lg-8 mb-3">
            <h2 class="mt-3 mb-5"> {{ faq.question }}</h2>
            <p> {{ faq.answer }}</p>
            <p><b>{{ faq.author}}</b></p>
            <p{> {{ faq.date_added}}</p>
        </div>
    </div>
    <br>
</div> 


{% endblock %}